* {
    margin: auto;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}
div {
    display: flex;
    justify-content: space-between;
}
.mobile {
    display: none;
}
.desktop {
    margin: 0;
    width: 100%;
}
.noPieceHere {
    background-color: #f0d855;
}
td {
    text-align: center;
    background-color: #BA7A3A;
    width: 65px;
    height: 65px;
}
.black-piece {
    width: 20px;
    height: 20px;
    padding: 12px;
    background-color: black;
    border: 1px solid white;
    border-radius: 50px;
}
.red-piece {
    width: 20px;
    height: 20px;
    padding: 12px;
    background-color: red;
    border: 1px solid white;
    border-radius: 50px;
}
.king.red-piece {
    background-color: rgb(105, 3, 25);
}
.king.black-piece {
    background-color: rgb(54, 10, 104);
}
p {
    display: inline-block;
}
span {
    display: inline-block;
}

